services:
  bootnode:
    image: ghcr.io/arch-network/bootnode:latest
    ports:
      - 19001:19001
    environment:
      RUST_LOG: "info" # debug, info, error, warn, trace, off
      RUST_BACKTRACE: "1" # enable error stack traces

      NETWORK_MODE: "localnet" # localnet, devnet, testnet, mainnet
      DATA_DIR: "/arch-data" # directory where data will be stored
    volumes:
      - ./arch-data/bootnode:/arch-data
    networks:
      arch-network:
        ipv4_address: 172.30.0.10 # If you change this IP, make sure to update the validator endpoint below.

  validator-1:
    build: ./docker/validator
    ports:
      - 19002:19002
      - 9002:9002
    environment:
      RUST_LOG: "info,validator=debug" # debug, info, error, warn, trace, off
      RUST_BACKTRACE: "1" # enable error stack traces

      NETWORK_MODE: "localnet" # localnet, devnet, testnet, mainnet
      DATA_DIR: "/arch-data" # directory where data will be stored
      PRIVATE_KEY_PASSWORD: "" # Provide a password if you'd like to encrypt the local node keys.
      BOOT_NODE_ENDPOINT: "/ip4/172.30.0.10/tcp/19001/p2p/16Uiu2HAmA5DZfSpvcEqpuYyPjDSgx5G3e7bJLbgK5m5LBc6rnLes"
      LEADER_PEERID:
      
      RPC_BIND_IP: "0.0.0.0" # bind to all IPs
      RPC_BIND_PORT: "9002" # TCP 9002
      P2P_BIND_PORT: "19002"

      BITCOIN_RPC_ENDPOINT: "bitcoin-node.dev.aws.archnetwork.xyz"
      BITCOIN_RPC_PORT: "18443"
      BITCOIN_RPC_USERNAME: "bitcoin"
      BITCOIN_RPC_PASSWORD: "428bae8f3c94f8c39c50757fc89c39bc7e6ebc70ebf8f618"
      BITCOIN_RPC_WALLET: "devwallet"
    volumes:
      - ./arch-data/validator-1:/arch-data
    depends_on:
      - bootnode
    networks:
      - arch-network

  validator-2:
    build: ./docker/validator
    ports:
      - 19003:19003
      - 9003:9003
    environment:
      LOG_LEVEL: "info,validator=debug" # debug, info, error, warn, trace, off
      RUST_BACKTRACE: "1" # enable error stack traces

      NETWORK_MODE: "localnet" # localnet, devnet, testnet, mainnet
      DATA_DIR: "/arch-data" # directory where data will be stored
      PRIVATE_KEY_PASSWORD: "" # Provide a password if you'd like to encrypt the local node keys.
      BOOT_NODE_ENDPOINT: "/ip4/172.30.0.10/tcp/19001/p2p/16Uiu2HAmA5DZfSpvcEqpuYyPjDSgx5G3e7bJLbgK5m5LBc6rnLes"
      LEADER_PEERID:
      
      RPC_BIND_IP: "0.0.0.0" # bind to all IPs
      RPC_BIND_PORT: "9003" # TCP 9002
      P2P_BIND_PORT: "19003"

      BITCOIN_RPC_ENDPOINT: "bitcoin-node.dev.aws.archnetwork.xyz"
      BITCOIN_RPC_PORT: "18443"
      BITCOIN_RPC_USERNAME: "bitcoin"
      BITCOIN_RPC_PASSWORD: "428bae8f3c94f8c39c50757fc89c39bc7e6ebc70ebf8f618"
      BITCOIN_RPC_WALLET: "devwallet"
    volumes:
      - ./arch-data/validator-2:/arch-data
    depends_on:
      - bootnode
    networks:
      - arch-network

networks:
  arch-network:
    ipam:
      driver: default # bridge
      config:
        - subnet: 172.30.0.0/24 # If you change the subnet, make sure to update the bootnode ip above.
          gateway: 172.30.0.1
