# Ignore validator testnet files
validator-*/testnet/*
leader/testnet/*
bootnode/*

# Except the ones containing the private key
!bootnode/p2p_identity
!leader/testnet/arch-secret
!validator-*/testnet/arch-secret
